Extract_Trasform_Load/Extract_to_CSV.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "7fe51597-c2e4-3972-ab3b-3fb53f59c002",
            "instanceIdentifier" : "c5c31e4b-018b-1000-8773-7f3fb384d439",
            "name" : "Create entire table (CSV)",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "8111642e-1843-390a-9d95-a7f5051eea2f",
          "instanceIdentifier" : "cb2b28a0-018b-1000-3837-c9c553d1d948",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "049a811f-289c-3ca8-9a68-2d099dc2ea90",
            "instanceIdentifier" : "cb2a7042-018b-1000-af7b-edca94f949aa",
            "name" : "Add date value in body",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "1139702c-6b80-35be-8152-a13aa022e596",
            "instanceIdentifier" : "cb47e8aa-018b-1000-ee61-8a392dc957a1",
            "name" : "Put file to ~\\Lab_2",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "46d4cd13-65a7-3af9-970a-ecb5aeb45258",
          "instanceIdentifier" : "cb5139a1-018b-1000-0022-d8cef1140f38",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "9ff66bec-d33c-3b34-b265-710173dce9b7",
            "instanceIdentifier" : "cb50e929-018b-1000-7a7e-ca71b87c15da",
            "name" : "New File name",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "db5c3316-a3f7-3d09-830d-3c83d040c5ac",
            "instanceIdentifier" : "cbcd15be-018b-1000-085f-b6e048a46b80",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "84044e1b-d9cf-372a-a747-e8eff96b7ca9",
          "instanceIdentifier" : "cbcd34f7-018b-1000-8510-4fd55f854e19",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original", "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "16ac6ed7-5a2e-3d84-a651-4a53b1329261",
            "instanceIdentifier" : "cbaaedd2-018b-1000-de05-a88dff910751",
            "name" : "Gather currency together for current Day",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "049a811f-289c-3ca8-9a68-2d099dc2ea90",
            "instanceIdentifier" : "cb2a7042-018b-1000-af7b-edca94f949aa",
            "name" : "Add date value in body",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "97481644-72c5-35d5-aa1c-1366872d1e16",
          "instanceIdentifier" : "cb1be552-018b-1000-6fbe-a89658f09bab",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "7eb723d5-43fa-3931-a7cc-dda1f02e4364",
            "instanceIdentifier" : "cb1b5a10-018b-1000-185c-71b600443f70",
            "name" : "Add \"Date\" in head",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "90852abb-5834-345d-abf6-141291160dbf",
            "instanceIdentifier" : "d5a3eac5-018b-1000-195a-87a5acc57945",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "30847026-e698-31e7-8d13-97a2b95d9338",
          "instanceIdentifier" : "b76b57b5-018b-1000-6686-dec79f813c9b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "7d25a222-a954-37ad-9884-759defa6327f",
            "instanceIdentifier" : "a70f60af-018b-1000-f06a-5c34cd8ef94d",
            "name" : "FileName as Day",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "7d25a222-a954-37ad-9884-759defa6327f",
            "instanceIdentifier" : "a70f60af-018b-1000-f06a-5c34cd8ef94d",
            "name" : "FileName as Day",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "375ea014-52ec-355c-a4ca-17a55f113dbe",
          "instanceIdentifier" : "9d440916-018c-1000-74c8-a60ff459b4eb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "id" : "16c8d7d3-577e-328e-af9b-9b53e1075011",
            "instanceIdentifier" : "9d439e2b-018c-1000-1fe1-7e03f40531ec",
            "name" : "To transform",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "566e13b5-cc62-37b8-95e2-ecc0ebd25649",
            "instanceIdentifier" : "cb9f35da-018b-1000-0f4a-4ccfb8e1f3cc",
            "name" : "Get value",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "a4fa7aba-104f-35c1-a832-bff3e61f07cc",
          "instanceIdentifier" : "cb9318ee-018b-1000-953a-47d015a3f304",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "2ff768c6-c206-3509-a863-b60e28b75d27",
            "instanceIdentifier" : "cb92513a-018b-1000-5256-9eb78b8f6ada",
            "name" : "Split Json by Currency",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : -288.0,
            "y" : 1168.0
          }, {
            "x" : -248.0,
            "y" : 1168.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "db5c3316-a3f7-3d09-830d-3c83d040c5ac",
            "instanceIdentifier" : "cbcd15be-018b-1000-085f-b6e048a46b80",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "49f0b7b1-08b1-3661-b595-624aeb42d726",
          "instanceIdentifier" : "cbcde717-018b-1000-b23a-0d65682d3792",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "7fe51597-c2e4-3972-ab3b-3fb53f59c002",
            "instanceIdentifier" : "c5c31e4b-018b-1000-8773-7f3fb384d439",
            "name" : "Create entire table (CSV)",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "8248095c-9d48-335c-9c9a-6e127de56e50",
            "instanceIdentifier" : "b7319a93-018b-1000-6a31-826da410ff56",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "27db79a3-d1a1-3ad8-9350-256695cc1493",
          "instanceIdentifier" : "cb1bfc50-018b-1000-c1d9-be204b2da7bb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "7eb723d5-43fa-3931-a7cc-dda1f02e4364",
            "instanceIdentifier" : "cb1b5a10-018b-1000-185c-71b600443f70",
            "name" : "Add \"Date\" in head",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "9ff66bec-d33c-3b34-b265-710173dce9b7",
            "instanceIdentifier" : "cb50e929-018b-1000-7a7e-ca71b87c15da",
            "name" : "New File name",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "f9c9ab15-0048-3f28-b28a-9de07895558e",
          "instanceIdentifier" : "cb547837-018b-1000-807c-34c8e2d8db09",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "merged" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "7fe51597-c2e4-3972-ab3b-3fb53f59c002",
            "instanceIdentifier" : "c5c31e4b-018b-1000-8773-7f3fb384d439",
            "name" : "Create entire table (CSV)",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "90852abb-5834-345d-abf6-141291160dbf",
            "instanceIdentifier" : "d5a3eac5-018b-1000-195a-87a5acc57945",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "066b2e29-5a46-3485-876d-cf473eb30ded",
          "instanceIdentifier" : "d5a42e2a-018b-1000-1a44-8f95fd70a8cd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "7d25a222-a954-37ad-9884-759defa6327f",
            "instanceIdentifier" : "a70f60af-018b-1000-f06a-5c34cd8ef94d",
            "name" : "FileName as Day",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "09317f68-eee6-3012-afac-5a854b9433f9",
            "instanceIdentifier" : "a636eba6-018b-1000-55e4-581f62555740",
            "name" : "Convert to CSV",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "f77ea79e-2f3d-346f-935b-1d1e64628868",
          "instanceIdentifier" : "cbb03f07-018b-1000-d581-6896ae31a850",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "merged" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "16ac6ed7-5a2e-3d84-a651-4a53b1329261",
            "instanceIdentifier" : "cbaaedd2-018b-1000-de05-a88dff910751",
            "name" : "Gather currency together for current Day",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "7eb723d5-43fa-3931-a7cc-dda1f02e4364",
            "instanceIdentifier" : "cb1b5a10-018b-1000-185c-71b600443f70",
            "name" : "Add \"Date\" in head",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "890ef0cb-9804-3ef9-9ca6-d0952d0d2cc3",
          "instanceIdentifier" : "cb1bc6a2-018b-1000-ea9e-4ec78486268f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "09317f68-eee6-3012-afac-5a854b9433f9",
            "instanceIdentifier" : "a636eba6-018b-1000-55e4-581f62555740",
            "name" : "Convert to CSV",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "16ac6ed7-5a2e-3d84-a651-4a53b1329261",
            "instanceIdentifier" : "cbaaedd2-018b-1000-de05-a88dff910751",
            "name" : "Gather currency together for current Day",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "b1f54569-c3d5-3277-af87-afeb17c5562a",
          "instanceIdentifier" : "cb9d4281-018b-1000-c169-7840c91a98bd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success", "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "433d822c-c213-3e81-9ca7-97d7c2b556fc",
            "instanceIdentifier" : "cb9ba2ea-018b-1000-0221-e99443054165",
            "name" : "Create small Json for each Currency",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "8248095c-9d48-335c-9c9a-6e127de56e50",
            "instanceIdentifier" : "b7319a93-018b-1000-6a31-826da410ff56",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "af321924-df4c-3ae0-b2a4-398cf3cc0c32",
          "instanceIdentifier" : "d5e355a6-018b-1000-6796-1b82b3508362",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "90852abb-5834-345d-abf6-141291160dbf",
            "instanceIdentifier" : "d5a3eac5-018b-1000-195a-87a5acc57945",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "433d822c-c213-3e81-9ca7-97d7c2b556fc",
            "instanceIdentifier" : "cb9ba2ea-018b-1000-0221-e99443054165",
            "name" : "Create small Json for each Currency",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "462b6be4-d6c8-3c04-88a0-63cdd2ba80dc",
          "instanceIdentifier" : "cba0b613-018b-1000-ec29-48578e4674b4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "matched", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "566e13b5-cc62-37b8-95e2-ecc0ebd25649",
            "instanceIdentifier" : "cb9f35da-018b-1000-0f4a-4ccfb8e1f3cc",
            "name" : "Get value",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "2ff768c6-c206-3509-a863-b60e28b75d27",
            "instanceIdentifier" : "cb92513a-018b-1000-5256-9eb78b8f6ada",
            "name" : "Split Json by Currency",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "c6477328-ab8b-3ace-8c59-e3dec7df4803",
          "instanceIdentifier" : "b746f4be-018b-1000-1418-dc72e25bcad2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "a659305e-62ce-3c0a-a843-c62fec20f834",
            "instanceIdentifier" : "b7468240-018b-1000-8206-0d477a624217",
            "name" : "First stage of cleaning",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "09317f68-eee6-3012-afac-5a854b9433f9",
            "instanceIdentifier" : "a636eba6-018b-1000-55e4-581f62555740",
            "name" : "Convert to CSV",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "79f3f6e3-792e-350c-be18-23b5a17102d7",
          "instanceIdentifier" : "d5e32e40-018b-1000-3008-1b0b2310c3ef",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
            "id" : "90852abb-5834-345d-abf6-141291160dbf",
            "instanceIdentifier" : "d5a3eac5-018b-1000-195a-87a5acc57945",
            "name" : "JoltTransformJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "c5d46d72-607b-3e16-8655-e776ebd3d6b0",
          "instanceIdentifier" : "a70e11c9-018b-1000-b25c-fdd0952ca3ef",
          "name" : "CSVRecordSetWriter",
          "properties" : {
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "Include Header Line" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Schema Write Strategy" : "schema-name",
            "Trim Fields" : "true",
            "schema-name" : "ExchangeRates",
            "schema-registry" : "e9c9812f-8eb8-33d8-bac4-6ff0e51023ec",
            "schema-access-strategy" : "schema-name",
            "schema-protocol-version" : "1",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}",
            "Quote Mode" : "MINIMAL",
            "Include Trailing Delimiter" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Include Header Line" : {
              "displayName" : "Include Header Line",
              "identifiesControllerService" : false,
              "name" : "Include Header Line",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Quote Mode" : {
              "displayName" : "Quote Mode",
              "identifiesControllerService" : false,
              "name" : "Quote Mode",
              "sensitive" : false
            },
            "Include Trailing Delimiter" : {
              "displayName" : "Include Trailing Delimiter",
              "identifiesControllerService" : false,
              "name" : "Include Trailing Delimiter",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "5f28a3c1-1307-360b-ba50-c1f4f4aa6886",
          "instanceIdentifier" : "cba74fc7-018b-1000-d6fe-75b954bcf1e1",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-registry-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.schemaregistry.services.SchemaRegistry"
          } ],
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "e9c9812f-8eb8-33d8-bac4-6ff0e51023ec",
          "instanceIdentifier" : "a78330ca-018b-1000-d76d-d95943626214",
          "name" : "AvroSchemaRegistry",
          "properties" : {
            "avro-reg-validated-field-names" : "true",
            "ExchangeRates" : "{\n   \"type\": \"record\",\n   \"name\": \"ExchangeRates\",\n   \"fields\": [\n     {\"name\": \"AUD\", \"type\": \"float\"},\n     {\"name\": \"CAD\", \"type\": \"float\"},\n     {\"name\": \"EUR\", \"type\": \"float\"},\n     {\"name\": \"USD\", \"type\": \"float\"}\n   ]\n}"
          },
          "propertyDescriptors" : {
            "avro-reg-validated-field-names" : {
              "displayName" : "Validate Field Names",
              "identifiesControllerService" : false,
              "name" : "avro-reg-validated-field-names",
              "sensitive" : false
            },
            "ExchangeRates" : {
              "displayName" : "ExchangeRates",
              "identifiesControllerService" : false,
              "name" : "ExchangeRates",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.schemaregistry.services.AvroSchemaRegistry"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "8d275593-6079-35d4-b0a6-de1c8fc8af22",
          "instanceIdentifier" : "a782814c-018b-1000-1780-f9dda6eced05",
          "name" : "JsonTreeReader",
          "properties" : {
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "ExchangeRates",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-registry" : "e9c9812f-8eb8-33d8-bac4-6ff0e51023ec",
            "schema-access-strategy" : "schema-name",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "8ca21fdb-69f5-37d2-8973-5710af17a4f6",
          "instanceIdentifier" : "cb4292f8-018b-1000-ec72-589342a3830e",
          "name" : "CSVRecordSetWriterforMerge",
          "properties" : {
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "Include Header Line" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Schema Write Strategy" : "no-schema",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}",
            "Quote Mode" : "MINIMAL",
            "Include Trailing Delimiter" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Include Header Line" : {
              "displayName" : "Include Header Line",
              "identifiesControllerService" : false,
              "name" : "Include Header Line",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Quote Mode" : {
              "displayName" : "Quote Mode",
              "identifiesControllerService" : false,
              "name" : "Quote Mode",
              "sensitive" : false
            },
            "Include Trailing Delimiter" : {
              "displayName" : "Include Trailing Delimiter",
              "identifiesControllerService" : false,
              "name" : "Include Trailing Delimiter",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVRecordSetWriter"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "40878349-83dc-3563-aaf2-49e6c8f80a00",
          "instanceIdentifier" : "cb07de22-018b-1000-c540-79ac4c371db2",
          "name" : "CSVReader",
          "properties" : {
            "ignore-csv-header" : "false",
            "Trim double quote" : "true",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "csvutils-allow-duplicate-header-names" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Skip Header Line" : "false",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "infer-schema",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Trim double quote" : {
              "displayName" : "Trim double quote",
              "identifiesControllerService" : false,
              "name" : "Trim double quote",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "csvutils-allow-duplicate-header-names" : {
              "displayName" : "Allow Duplicate Header Names",
              "identifiesControllerService" : false,
              "name" : "csvutils-allow-duplicate-header-names",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.csv.CSVReader"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
        "inputPorts" : [ ],
        "instanceIdentifier" : "a6026871-018b-1000-1155-454076081b4c",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "height" : 376.0,
          "identifier" : "90a5d5ad-9c56-33de-a0a3-739241c0eddd",
          "instanceIdentifier" : "018c1001-f765-1185-e4bb-e44dd79a6b75",
          "position" : {
            "x" : 288.0,
            "y" : 880.0
          },
          "style" : { },
          "width" : 1224.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "height" : 1264.0,
          "identifier" : "49c01990-9d50-3f49-8290-35938e66e16f",
          "instanceIdentifier" : "018c1000-f765-1185-b76b-11cd61892106",
          "position" : {
            "x" : -1440.0,
            "y" : -8.0
          },
          "style" : { },
          "width" : 1712.0,
          "zIndex" : 0
        } ],
        "name" : "Produce CSV from content",
        "outputPorts" : [ ],
        "position" : {
          "x" : 216.0,
          "y" : 376.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 360.0,
              "y" : 32.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "e0491651-af0c-3a49-af86-7153deb741df",
              "instanceIdentifier" : "c1a9951a-018b-1000-d479-8cc4791a0159",
              "name" : "Day +1",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "c8bbfba1-ffa2-3ec5-a26f-0d020ee68db3",
            "instanceIdentifier" : "c5b05873-018b-1000-6b6f-63dd22f1baab",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "95e7e5b6-b11d-3d23-b910-f2776b20fa1b",
              "instanceIdentifier" : "c5af6dbe-018b-1000-ec22-019ff710c779",
              "name" : "IF dates matched",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 360.0,
              "y" : 296.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "c5c1976e-d615-3157-9a35-b20987c847eb",
              "instanceIdentifier" : "a60b9b81-018b-1000-08c5-7cef7159c746",
              "name" : "FreeCurrency API service ",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "050d6f0a-c650-3ba6-b71e-4dd5f5729ec2",
            "instanceIdentifier" : "cb76ec40-018b-1000-5359-ac83d0801dd2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "looping" ],
            "source" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "95e7e5b6-b11d-3d23-b910-f2776b20fa1b",
              "instanceIdentifier" : "c5af6dbe-018b-1000-ec22-019ff710c779",
              "name" : "IF dates matched",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "51633de9-88cb-3bab-bc33-330eec89fa72",
              "instanceIdentifier" : "9d698455-018c-1000-e638-6312a072a273",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "6008d7a3-286c-3f29-b685-c4a647369aa5",
            "instanceIdentifier" : "9d69baa4-018c-1000-20a7-b306bb8b3918",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "c5c1976e-d615-3157-9a35-b20987c847eb",
              "instanceIdentifier" : "a60b9b81-018b-1000-08c5-7cef7159c746",
              "name" : "FreeCurrency API service ",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "95e7e5b6-b11d-3d23-b910-f2776b20fa1b",
              "instanceIdentifier" : "c5af6dbe-018b-1000-ec22-019ff710c779",
              "name" : "IF dates matched",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "c6a7a215-c8ae-3f63-8bc1-44652e0559ce",
            "instanceIdentifier" : "c1ae4d44-018b-1000-e6af-af30401d7b8e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "e0491651-af0c-3a49-af86-7153deb741df",
              "instanceIdentifier" : "c1a9951a-018b-1000-d479-8cc4791a0159",
              "name" : "Day +1",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "c5c1976e-d615-3157-9a35-b20987c847eb",
              "instanceIdentifier" : "a60b9b81-018b-1000-08c5-7cef7159c746",
              "name" : "FreeCurrency API service ",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "e939bdfa-7fc3-30d7-b32b-b3d1e1dc0c61",
            "instanceIdentifier" : "cb76d584-018b-1000-8394-c28d1496e8d7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "95e7e5b6-b11d-3d23-b910-f2776b20fa1b",
              "instanceIdentifier" : "c5af6dbe-018b-1000-ec22-019ff710c779",
              "name" : "IF dates matched",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "5451ef52-735a-3334-8ff5-4d4151126680",
              "instanceIdentifier" : "c15a39af-018b-1000-eeb6-d0f57a888983",
              "name" : "Extract 'Date' from content",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "42f50970-e51c-3ffe-b60e-0e2a151af60e",
            "instanceIdentifier" : "c15a5221-018b-1000-2990-5752225543d3",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "0fc879e8-9000-34f9-9a7c-972ca3ec9966",
              "instanceIdentifier" : "b7774cfd-018b-1000-ea37-f6b51b6f0c47",
              "name" : "Generate Dates",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "51633de9-88cb-3bab-bc33-330eec89fa72",
              "instanceIdentifier" : "9d698455-018c-1000-e638-6312a072a273",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "293fbcb2-e09d-31a6-8350-df63f3877910",
            "instanceIdentifier" : "9d6bcafc-018c-1000-1b74-5809b0fa3ae1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response", "No Retry", "Retry", "Original", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "aed80298-8326-3b21-a81e-03fce18ae66c",
              "instanceIdentifier" : "9d6b823d-018c-1000-fbc4-0315498eabbe",
              "name" : "FreeCurrency API service ",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "e0491651-af0c-3a49-af86-7153deb741df",
              "instanceIdentifier" : "c1a9951a-018b-1000-d479-8cc4791a0159",
              "name" : "Day +1",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "74c3184c-cf81-3b5f-9c78-8cc2c9f740ee",
            "instanceIdentifier" : "9d464feb-018c-1000-31d7-76965480f195",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "f3850ad0-2d41-3e18-99d1-9e764bedae63",
              "instanceIdentifier" : "9d44e263-018c-1000-2e28-dd8e3e1e20ce",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "16c8d7d3-577e-328e-af9b-9b53e1075011",
              "instanceIdentifier" : "9d439e2b-018c-1000-1fe1-7e03f40531ec",
              "name" : "To transform",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "bd84d034-224e-3311-aa18-b13f468ea851",
            "instanceIdentifier" : "9d43c0d9-018c-1000-5c72-f568f6b19be4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "c5c1976e-d615-3157-9a35-b20987c847eb",
              "instanceIdentifier" : "a60b9b81-018b-1000-08c5-7cef7159c746",
              "name" : "FreeCurrency API service ",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "f3850ad0-2d41-3e18-99d1-9e764bedae63",
              "instanceIdentifier" : "9d44e263-018c-1000-2e28-dd8e3e1e20ce",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "e0d4a2b5-8268-39d1-8f0a-39a3f59f2ea9",
            "instanceIdentifier" : "9d44fd60-018c-1000-2b72-e96fd01dab4e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "0fc879e8-9000-34f9-9a7c-972ca3ec9966",
              "instanceIdentifier" : "b7774cfd-018b-1000-ea37-f6b51b6f0c47",
              "name" : "Generate Dates",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "e0491651-af0c-3a49-af86-7153deb741df",
              "instanceIdentifier" : "c1a9951a-018b-1000-d479-8cc4791a0159",
              "name" : "Day +1",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "1e29faa4-c210-3e76-8ca2-8149e42df4f3",
            "instanceIdentifier" : "c1a9afed-018b-1000-0f1b-0668e65d20e3",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "88142b28-57db-3704-9337-9a228c8a9c44",
              "id" : "5451ef52-735a-3334-8ff5-4d4151126680",
              "instanceIdentifier" : "c15a39af-018b-1000-eeb6-d0f57a888983",
              "name" : "Extract 'Date' from content",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
          "inputPorts" : [ ],
          "instanceIdentifier" : "9d427ec9-018c-1000-a98d-57421272821d",
          "labels" : [ ],
          "logFileSuffix" : "",
          "name" : "Extract_Data",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "16c8d7d3-577e-328e-af9b-9b53e1075011",
            "instanceIdentifier" : "9d439e2b-018c-1000-1fe1-7e03f40531ec",
            "name" : "To transform",
            "position" : {
              "x" : -56.0,
              "y" : 600.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : -136.0,
            "y" : -344.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "e0491651-af0c-3a49-af86-7153deb741df",
            "instanceIdentifier" : "c1a9951a-018b-1000-d479-8cc4791a0159",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Day +1",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -112.0,
              "y" : -168.0
            },
            "properties" : {
              "date_in" : "${date_in:toDate('yyyy-MM-dd'):toNumber():plus(86400000):format('yyyy-MM-dd')}",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "date_in" : {
                "displayName" : "date_in",
                "identifiesControllerService" : false,
                "name" : "date_in",
                "sensitive" : false
              },
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "51633de9-88cb-3bab-bc33-330eec89fa72",
            "instanceIdentifier" : "9d698455-018c-1000-e638-6312a072a273",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -760.0,
              "y" : 368.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "f3850ad0-2d41-3e18-99d1-9e764bedae63",
            "instanceIdentifier" : "9d44e263-018c-1000-2e28-dd8e3e1e20ce",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 456.0,
              "y" : -384.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "date_end" : "${content}"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "date_end" : {
                "displayName" : "date_end",
                "identifiesControllerService" : false,
                "name" : "date_end",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "c5c1976e-d615-3157-9a35-b20987c847eb",
            "instanceIdentifier" : "a60b9b81-018b-1000-08c5-7cef7159c746",
            "maxBackoffPeriod" : "10 mins",
            "name" : "FreeCurrency API service ",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -112.0,
              "y" : 368.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "https://api.binance.com/api/v3/exchangeInfo?symbols=%5B%22BNBBTC%22,%22BTCUSDT%22%5D",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Socket Write Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Socket Write Timeout" : {
                "displayName" : "Socket Write Timeout",
                "identifiesControllerService" : false,
                "name" : "Socket Write Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "2 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 10,
            "executionNode" : "ALL",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "0fc879e8-9000-34f9-9a7c-972ca3ec9966",
            "instanceIdentifier" : "b7774cfd-018b-1000-ea37-f6b51b6f0c47",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Generate Dates",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -112.0,
              "y" : -592.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "date_in" : "2023-10-13",
              "File Size" : "0B",
              "generate-ff-custom-text" : "2023-11-13",
              "Batch Size" : "1",
              "Unique FlowFiles" : "false",
              "Data Format" : "Text"
            },
            "propertyDescriptors" : {
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "date_in" : {
                "displayName" : "date_in",
                "identifiesControllerService" : false,
                "name" : "date_in",
                "sensitive" : false
              },
              "File Size" : {
                "displayName" : "File Size",
                "identifiesControllerService" : false,
                "name" : "File Size",
                "sensitive" : false
              },
              "mime-type" : {
                "displayName" : "Mime Type",
                "identifiesControllerService" : false,
                "name" : "mime-type",
                "sensitive" : false
              },
              "generate-ff-custom-text" : {
                "displayName" : "Custom Text",
                "identifiesControllerService" : false,
                "name" : "generate-ff-custom-text",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Unique FlowFiles" : {
                "displayName" : "Unique FlowFiles",
                "identifiesControllerService" : false,
                "name" : "Unique FlowFiles",
                "sensitive" : false
              },
              "Data Format" : {
                "displayName" : "Data Format",
                "identifiesControllerService" : false,
                "name" : "Data Format",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 min",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "aed80298-8326-3b21-a81e-03fce18ae66c",
            "instanceIdentifier" : "9d6b823d-018c-1000-fbc4-0315498eabbe",
            "maxBackoffPeriod" : "10 mins",
            "name" : "FreeCurrency API service ",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -760.0,
              "y" : 104.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "https://api.binance.com/api/v3/exchangeInfo?symbols=%5B%22BNBBTC%22,%22BTCUSDT%22%5D",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Socket Write Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Socket Write Timeout" : {
                "displayName" : "Socket Write Timeout",
                "identifiesControllerService" : false,
                "name" : "Socket Write Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "5 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "2 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "95e7e5b6-b11d-3d23-b910-f2776b20fa1b",
            "instanceIdentifier" : "c5af6dbe-018b-1000-ec22-019ff710c779",
            "maxBackoffPeriod" : "10 mins",
            "name" : "IF dates matched",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -112.0,
              "y" : 104.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "looping" : "${date_in:equals(${date_end.0})}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "looping" : {
                "displayName" : "looping",
                "identifiesControllerService" : false,
                "name" : "looping",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "88142b28-57db-3704-9337-9a228c8a9c44",
            "identifier" : "5451ef52-735a-3334-8ff5-4d4151126680",
            "instanceIdentifier" : "c15a39af-018b-1000-eeb6-d0f57a888983",
            "maxBackoffPeriod" : "10 mins",
            "name" : "Extract 'Date' from content",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -112.0,
              "y" : -384.0
            },
            "properties" : {
              "Enable Unicode Predefined Character Classes" : "false",
              "Permit Whitespace and Comments in Pattern" : "false",
              "Enable Unicode-aware Case Folding" : "false",
              "Enable DOTALL Mode" : "false",
              "Enable Unix Lines Mode" : "false",
              "extract-text-enable-named-groups" : "false",
              "date_end" : "(.*)",
              "Maximum Buffer Size" : "1 MB",
              "Enable Canonical Equivalence" : "true",
              "Enable Case-insensitive Matching" : "false",
              "Enable Multiline Mode" : "false",
              "Maximum Capture Group Length" : "1024",
              "Enable Literal Parsing of the Pattern" : "false",
              "Character Set" : "UTF-8",
              "Include Capture Group 0" : "true",
              "extract-text-enable-repeating-capture-group" : "false"
            },
            "propertyDescriptors" : {
              "Enable Unicode Predefined Character Classes" : {
                "displayName" : "Enable Unicode Predefined Character Classes",
                "identifiesControllerService" : false,
                "name" : "Enable Unicode Predefined Character Classes",
                "sensitive" : false
              },
              "Permit Whitespace and Comments in Pattern" : {
                "displayName" : "Permit Whitespace and Comments in Pattern",
                "identifiesControllerService" : false,
                "name" : "Permit Whitespace and Comments in Pattern",
                "sensitive" : false
              },
              "Enable Unicode-aware Case Folding" : {
                "displayName" : "Enable Unicode-aware Case Folding",
                "identifiesControllerService" : false,
                "name" : "Enable Unicode-aware Case Folding",
                "sensitive" : false
              },
              "Enable DOTALL Mode" : {
                "displayName" : "Enable DOTALL Mode",
                "identifiesControllerService" : false,
                "name" : "Enable DOTALL Mode",
                "sensitive" : false
              },
              "Enable Unix Lines Mode" : {
                "displayName" : "Enable Unix Lines Mode",
                "identifiesControllerService" : false,
                "name" : "Enable Unix Lines Mode",
                "sensitive" : false
              },
              "extract-text-enable-named-groups" : {
                "displayName" : "Enable named group support",
                "identifiesControllerService" : false,
                "name" : "extract-text-enable-named-groups",
                "sensitive" : false
              },
              "date_end" : {
                "displayName" : "date_end",
                "identifiesControllerService" : false,
                "name" : "date_end",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Enable Canonical Equivalence" : {
                "displayName" : "Enable Canonical Equivalence",
                "identifiesControllerService" : false,
                "name" : "Enable Canonical Equivalence",
                "sensitive" : false
              },
              "Enable Case-insensitive Matching" : {
                "displayName" : "Enable Case-insensitive Matching",
                "identifiesControllerService" : false,
                "name" : "Enable Case-insensitive Matching",
                "sensitive" : false
              },
              "Enable Multiline Mode" : {
                "displayName" : "Enable Multiline Mode",
                "identifiesControllerService" : false,
                "name" : "Enable Multiline Mode",
                "sensitive" : false
              },
              "Maximum Capture Group Length" : {
                "displayName" : "Maximum Capture Group Length",
                "identifiesControllerService" : false,
                "name" : "Maximum Capture Group Length",
                "sensitive" : false
              },
              "Enable Literal Parsing of the Pattern" : {
                "displayName" : "Enable Literal Parsing of the Pattern",
                "identifiesControllerService" : false,
                "name" : "Enable Literal Parsing of the Pattern",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Include Capture Group 0" : {
                "displayName" : "Include Capture Group 0",
                "identifiesControllerService" : false,
                "name" : "Include Capture Group 0",
                "sensitive" : false
              },
              "extract-text-enable-repeating-capture-group" : {
                "displayName" : "Enable repeating capture group",
                "identifiesControllerService" : false,
                "name" : "extract-text-enable-repeating-capture-group",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExtractText",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "433d822c-c213-3e81-9ca7-97d7c2b556fc",
          "instanceIdentifier" : "cb9ba2ea-018b-1000-0221-e99443054165",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Create small Json for each Currency",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1392.0,
            "y" : 448.0
          },
          "properties" : {
            "Regular Expression" : "^.*$",
            "Replacement Value" : "\"${code}\": ${value}",
            "Evaluation Mode" : "Line-by-Line",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "1 MB",
            "Replacement Strategy" : "Regex Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "name" : "Regular Expression",
              "sensitive" : false
            },
            "Replacement Value" : {
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "name" : "Replacement Value",
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Evaluation Mode",
              "sensitive" : false
            },
            "Text to Prepend" : {
              "displayName" : "Text to Prepend",
              "identifiesControllerService" : false,
              "name" : "Text to Prepend",
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Line-by-Line Evaluation Mode",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "name" : "Replacement Strategy",
              "sensitive" : false
            },
            "Text to Append" : {
              "displayName" : "Text to Append",
              "identifiesControllerService" : false,
              "name" : "Text to Append",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "1139702c-6b80-35be-8152-a13aa022e596",
          "instanceIdentifier" : "cb47e8aa-018b-1000-ee61-8a392dc957a1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Put file to ~\\Lab_2",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1112.0,
            "y" : 1104.0
          },
          "properties" : {
            "Group" : "centos",
            "Owner" : "centos",
            "Create Missing Directories" : "true",
            "Directory" : "/home/centos/lab_2",
            "Conflict Resolution Strategy" : "replace"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "8248095c-9d48-335c-9c9a-6e127de56e50",
          "instanceIdentifier" : "b7319a93-018b-1000-6a31-826da410ff56",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 512.0,
            "y" : 232.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "7d25a222-a954-37ad-9884-759defa6327f",
          "instanceIdentifier" : "a70f60af-018b-1000-f06a-5c34cd8ef94d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "FileName as Day",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : 16.0
          },
          "properties" : {
            "filename" : "${date_in}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "16ac6ed7-5a2e-3d84-a651-4a53b1329261",
          "instanceIdentifier" : "cbaaedd2-018b-1000-de05-a88dff910751",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Gather currency together for current Day",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -760.0,
            "y" : 440.0
          },
          "properties" : {
            "Keep Path" : "false",
            "Merge Strategy" : "Bin-Packing Algorithm",
            "Attribute Strategy" : "Keep Only Common Attributes",
            "Compression Level" : "1",
            "Maximum Number of Entries" : "1000",
            "Minimum Group Size" : "0 B",
            "Maximum number of Bins" : "5",
            "Tar Modified Time" : "${file.lastModifiedTime}",
            "Delimiter Strategy" : "Text",
            "Merge Format" : "Binary Concatenation",
            "Footer File" : "}",
            "Demarcator File" : ",",
            "Correlation Attribute Name" : "data_in",
            "Header File" : "{",
            "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
            "Minimum Number of Entries" : "4"
          },
          "propertyDescriptors" : {
            "Keep Path" : {
              "displayName" : "Keep Path",
              "identifiesControllerService" : false,
              "name" : "Keep Path",
              "sensitive" : false
            },
            "Maximum Group Size" : {
              "displayName" : "Maximum Group Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Group Size",
              "sensitive" : false
            },
            "Merge Strategy" : {
              "displayName" : "Merge Strategy",
              "identifiesControllerService" : false,
              "name" : "Merge Strategy",
              "sensitive" : false
            },
            "Attribute Strategy" : {
              "displayName" : "Attribute Strategy",
              "identifiesControllerService" : false,
              "name" : "Attribute Strategy",
              "sensitive" : false
            },
            "Compression Level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "Compression Level",
              "sensitive" : false
            },
            "Maximum Number of Entries" : {
              "displayName" : "Maximum Number of Entries",
              "identifiesControllerService" : false,
              "name" : "Maximum Number of Entries",
              "sensitive" : false
            },
            "Minimum Group Size" : {
              "displayName" : "Minimum Group Size",
              "identifiesControllerService" : false,
              "name" : "Minimum Group Size",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "Tar Modified Time" : {
              "displayName" : "Tar Modified Time",
              "identifiesControllerService" : false,
              "name" : "Tar Modified Time",
              "sensitive" : false
            },
            "Delimiter Strategy" : {
              "displayName" : "Delimiter Strategy",
              "identifiesControllerService" : false,
              "name" : "Delimiter Strategy",
              "sensitive" : false
            },
            "Merge Format" : {
              "displayName" : "Merge Format",
              "identifiesControllerService" : false,
              "name" : "Merge Format",
              "sensitive" : false
            },
            "Footer File" : {
              "displayName" : "Footer",
              "identifiesControllerService" : false,
              "name" : "Footer File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "Max Bin Age" : {
              "displayName" : "Max Bin Age",
              "identifiesControllerService" : false,
              "name" : "Max Bin Age",
              "sensitive" : false
            },
            "Demarcator File" : {
              "displayName" : "Demarcator",
              "identifiesControllerService" : false,
              "name" : "Demarcator File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "Correlation Attribute Name" : {
              "displayName" : "Correlation Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Correlation Attribute Name",
              "sensitive" : false
            },
            "Header File" : {
              "displayName" : "Header",
              "identifiesControllerService" : false,
              "name" : "Header File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "mergecontent-metadata-strategy" : {
              "displayName" : "Metadata Strategy",
              "identifiesControllerService" : false,
              "name" : "mergecontent-metadata-strategy",
              "sensitive" : false
            },
            "Minimum Number of Entries" : {
              "displayName" : "Minimum Number of Entries",
              "identifiesControllerService" : false,
              "name" : "Minimum Number of Entries",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.MergeContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "90852abb-5834-345d-abf6-141291160dbf",
          "instanceIdentifier" : "d5a3eac5-018b-1000-195a-87a5acc57945",
          "maxBackoffPeriod" : "10 mins",
          "name" : "JoltTransformJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : 232.0
          },
          "properties" : {
            "jolt-spec" : "[{\n\t\t\"operation\": \"shift\",\n\t\t\"spec\": {\n\n\t\t\t\"data\": {\n\t\t\t\t\"AUD\": {\n\t\t\t\t\t\"value\": \"AUD\"\n\t\t\t\t},\n\t\t\t\t\"CAD\": {\n\t\t\t\t\t\"value\": \"CAD\"\n\t\t\t\t},\n\t\t\t\t\"EUR\": {\n\t\t\t\t\t\"value\": \"EUR\"\n\t\t\t\t},\n\t\t\t\t\"USD\": {\n\t\t\t\t\t\"value\": \"USD\"\n\t\t\t\t},\n\t\t\t\t\"RUB\": {\n\t\t\t\t\t\"value\": \"RUB\"\n\t\t\t\t}\n\n\t\t\t}\n\t\t}\n\t}\n]",
            "jolt-transform" : "jolt-transform-chain",
            "pretty_print" : "false",
            "Transform Cache Size" : "1"
          },
          "propertyDescriptors" : {
            "jolt-spec" : {
              "displayName" : "Jolt Specification",
              "identifiesControllerService" : false,
              "name" : "jolt-spec",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "jolt-transform" : {
              "displayName" : "Jolt Transformation DSL",
              "identifiesControllerService" : false,
              "name" : "jolt-transform",
              "sensitive" : false
            },
            "jolt-custom-class" : {
              "displayName" : "Custom Transformation Class Name",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-class",
              "sensitive" : false
            },
            "jolt-custom-modules" : {
              "displayName" : "Custom Module Directory",
              "identifiesControllerService" : false,
              "name" : "jolt-custom-modules",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE", "DIRECTORY" ]
              },
              "sensitive" : false
            },
            "pretty_print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "pretty_print",
              "sensitive" : false
            },
            "Transform Cache Size" : {
              "displayName" : "Transform Cache Size",
              "identifiesControllerService" : false,
              "name" : "Transform Cache Size",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "7fe51597-c2e4-3972-ab3b-3fb53f59c002",
          "instanceIdentifier" : "c5c31e4b-018b-1000-8773-7f3fb384d439",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Create entire table (CSV)",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : 1104.0
          },
          "properties" : {
            "Attribute Strategy" : "Keep Only Common Attributes",
            "min-records" : "30",
            "record-writer" : "8ca21fdb-69f5-37d2-8973-5710af17a4f6",
            "merge-strategy" : "Bin-Packing Algorithm",
            "record-reader" : "40878349-83dc-3563-aaf2-49e6c8f80a00",
            "max-records" : "1000",
            "min-bin-size" : "0 B",
            "max.bin.count" : "10"
          },
          "propertyDescriptors" : {
            "max-bin-age" : {
              "displayName" : "Max Bin Age",
              "identifiesControllerService" : false,
              "name" : "max-bin-age",
              "sensitive" : false
            },
            "correlation-attribute-name" : {
              "displayName" : "Correlation Attribute Name",
              "identifiesControllerService" : false,
              "name" : "correlation-attribute-name",
              "sensitive" : false
            },
            "Attribute Strategy" : {
              "displayName" : "Attribute Strategy",
              "identifiesControllerService" : false,
              "name" : "Attribute Strategy",
              "sensitive" : false
            },
            "min-records" : {
              "displayName" : "Minimum Number of Records",
              "identifiesControllerService" : false,
              "name" : "min-records",
              "sensitive" : false
            },
            "max-bin-size" : {
              "displayName" : "Maximum Bin Size",
              "identifiesControllerService" : false,
              "name" : "max-bin-size",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "merge-strategy" : {
              "displayName" : "Merge Strategy",
              "identifiesControllerService" : false,
              "name" : "merge-strategy",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "max-records" : {
              "displayName" : "Maximum Number of Records",
              "identifiesControllerService" : false,
              "name" : "max-records",
              "sensitive" : false
            },
            "min-bin-size" : {
              "displayName" : "Minimum Bin Size",
              "identifiesControllerService" : false,
              "name" : "min-bin-size",
              "sensitive" : false
            },
            "max.bin.count" : {
              "displayName" : "Maximum Number of Bins",
              "identifiesControllerService" : false,
              "name" : "max.bin.count",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.MergeRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "db5c3316-a3f7-3d09-830d-3c83d040c5ac",
          "instanceIdentifier" : "cbcd15be-018b-1000-085f-b6e048a46b80",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -752.0,
            "y" : 1104.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "9ff66bec-d33c-3b34-b265-710173dce9b7",
          "instanceIdentifier" : "cb50e929-018b-1000-7a7e-ca71b87c15da",
          "maxBackoffPeriod" : "10 mins",
          "name" : "New File name",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 504.0,
            "y" : 1104.0
          },
          "properties" : {
            "filename" : "${now():format('MM'):append('.csv')}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "566e13b5-cc62-37b8-95e2-ecc0ebd25649",
          "instanceIdentifier" : "cb9f35da-018b-1000-0f4a-4ccfb8e1f3cc",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Get value",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1392.0,
            "y" : 248.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "code" : "$.code",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "value" : "$.value",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "code" : {
              "displayName" : "code",
              "identifiesControllerService" : false,
              "name" : "code",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "value" : {
              "displayName" : "value",
              "identifiesControllerService" : false,
              "name" : "value",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "7eb723d5-43fa-3931-a7cc-dda1f02e4364",
          "instanceIdentifier" : "cb1b5a10-018b-1000-185c-71b600443f70",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Add \"Date\" in head",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : 664.0
          },
          "properties" : {
            "Regular Expression" : "^",
            "Replacement Value" : "Date,",
            "Evaluation Mode" : "Line-by-Line",
            "Line-by-Line Evaluation Mode" : "First-Line",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "1 MB",
            "Replacement Strategy" : "Regex Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "name" : "Regular Expression",
              "sensitive" : false
            },
            "Replacement Value" : {
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "name" : "Replacement Value",
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Evaluation Mode",
              "sensitive" : false
            },
            "Text to Prepend" : {
              "displayName" : "Text to Prepend",
              "identifiesControllerService" : false,
              "name" : "Text to Prepend",
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Line-by-Line Evaluation Mode",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "name" : "Replacement Strategy",
              "sensitive" : false
            },
            "Text to Append" : {
              "displayName" : "Text to Append",
              "identifiesControllerService" : false,
              "name" : "Text to Append",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "09317f68-eee6-3012-afac-5a854b9433f9",
          "instanceIdentifier" : "a636eba6-018b-1000-55e4-581f62555740",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Convert to CSV",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : 448.0
          },
          "properties" : {
            "record-writer" : "c5d46d72-607b-3e16-8655-e776ebd3d6b0",
            "record-reader" : "8d275593-6079-35d4-b0a6-de1c8fc8af22",
            "include-zero-record-flowfiles" : "false"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "unmatched" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "a659305e-62ce-3c0a-a843-c62fec20f834",
          "instanceIdentifier" : "b7468240-018b-1000-8206-0d477a624217",
          "maxBackoffPeriod" : "10 mins",
          "name" : "First stage of cleaning",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -720.0,
            "y" : 136.0
          },
          "properties" : {
            "Destination" : "flowfile-content",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "Path Not Found Behavior" : "ignore",
            "cur1" : "$.data"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            },
            "cur1" : {
              "displayName" : "cur1",
              "identifiesControllerService" : false,
              "name" : "cur1",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "2ff768c6-c206-3509-a863-b60e28b75d27",
          "instanceIdentifier" : "cb92513a-018b-1000-5256-9eb78b8f6ada",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Split Json by Currency",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1392.0,
            "y" : 16.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.*"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "29dc0439-7ae7-3f16-aa62-76a24aeba023",
          "identifier" : "049a811f-289c-3ca8-9a68-2d099dc2ea90",
          "instanceIdentifier" : "cb2a7042-018b-1000-af7b-edca94f949aa",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Add date value in body",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : 880.0
          },
          "properties" : {
            "Regular Expression" : "^",
            "Replacement Value" : "${date_in},",
            "Evaluation Mode" : "Line-by-Line",
            "Line-by-Line Evaluation Mode" : "Last-Line",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "1 MB",
            "Replacement Strategy" : "Regex Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "name" : "Regular Expression",
              "sensitive" : false
            },
            "Replacement Value" : {
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "name" : "Replacement Value",
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Evaluation Mode",
              "sensitive" : false
            },
            "Text to Prepend" : {
              "displayName" : "Text to Prepend",
              "identifiesControllerService" : false,
              "name" : "Text to Prepend",
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Line-by-Line Evaluation Mode",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "name" : "Replacement Strategy",
              "sensitive" : false
            },
            "Text to Append" : {
              "displayName" : "Text to Append",
              "identifiesControllerService" : false,
              "name" : "Text to Append",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}